<% provide :title, 'Contact'%>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Contact</h1>
    </div>
    <p class="lead">
    If you have any feedback, feel free to contact me.
    </p>
    <h4><i class="icon-twitter-sign icon-large"></i> <%= link_to "@masay0shi", "https://twitter.com/masay0shi", target: "blank" %></h4>
  </div>
</div>
