<div class="row">
  <div class="span12">
    <p>Front:</p>
    <div class="well">
      <p><strong><%= @card.front %></strong></p>
    </div>
    <p>Back:</p>
    <div class="well">
      <p><strong><%= @card.back %></strong></p>
    </div>
    <p>
    <p>
    <%= link_to 'Edit', edit_deck_card_path(@deck, @card), class: "btn" %>
    <%= link_to 'Back', deck_cards_path(@deck), class: "btn" %>
  </div>
</div>
