<h1>Editing deck</h1>

<%= render 'form' %>
<%= link_to 'Destroy', @deck, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>

<%= link_to 'Show', @deck %> |
<%= link_to 'Back', decks_path %>
