<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Listing decks</h1>
    </div>
    <%= link_to 'New Deck', new_deck_path %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Title</th>
          <th>Description</th>
          <th>Cards Number</th>
          <th>Progress</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @decks %>
      </tbody>
    </table>
  </div>
</div>
