<div class="row">
  <div class="span12">
    <p>
    <b>Title:</b>
    <%= @deck.title %>
    </p>

    <p>
    <b>Description:</b>
    <%= @deck.description %>
    </p>

    <%= link_to 'Edit', edit_deck_path(@deck), class: "btn" %>
    <%= link_to 'Back', decks_path, class: "btn" %>
  </div>
</div>
